# coding=UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta http-equiv="Content-Language" content="pl-PL" />
  <meta name="Description" content="SMOK to system służący do zdalnego monitorowania pracy kotłowni przez Internet bez zbędnych utrudnień" />
  <link rel="stylesheet" type="text/css" href="/media/style.css" media="all" />
  <title>SMOK - System Monitorowania Odległych Kotłowni</title>
</head>
<body>
  <div id="MAIN-CONTAINER">
    <div id="CONTAINER">
      <div id="TOP"></div>
      <div id="LEFT-COLUMN">
        <p style="margin-bottom:15px">
          <img src="/media/logo.png" alt="" />
        </p>

         <p style="margin-bottom:15px">
          <img src="/media/dietrich.png" alt="" />
        </p>
         <p style="margin-bottom:15px">
          <img src="/media/frisko.png" alt="" />
        </p>
        
       </div>
      
      <div id="RIGHT-COLUMN">
      <!-- TRESC GLOWNA STRONY -->
        
        <h1>SMOK</h1>
        	<div class="box">
          <div class="box-top">
            <p style="padding-top:10px;text-align:center">Logowanie</p>
           </div>
           <div class="box-middle">
              <form action="/login/login/" method="post">
                <input type="text" class="input-login" name="login" /><br />
                <input type="password" class="input-login" name="password" style="margin-top:5px;"/><br />
                <input type="image" alt="zaloguj" value="" class="png" src="/media/zaloguj.jpg" style="margin-top:5px; margin-left:120px"/>
              </form>
           </div>
           <div class="box-bottom"></div>
        </div>
        
	     <!-- KONIEC -->
      </div>
      <div class="clear"></div>
    </div>
    
  </div>

</body>	
</html>