# -*- coding: utf-8 -*-
<%inherit file="/base/introspection.html" />
<%def name="head()" >
    <script type="text/javascript" src="/media/ajax.js"></script>
    <script type="text/javascript">
    var standby = false;
    
    function changeCircuit()
    {
		var xmlhttp = getXmlHttp();
		xmlhttp.onreadystatechange=function()
		{
		if (xmlhttp.readyState==4) 
			{
				if (xmlhttp.responseText == 'OK')
				{
					document.getElementById('standby_box').innerHTML = 'CZEKAJ';
					document.getElementById('circuit').disabled = true;
					
					standby = true;
				} else
				{
					document.getElementById('standby_box').innerHTML = 'BŁĄD';
				}
			}
		}
		var url="/device/own/copar_ajax/?method=selco&co="+document.getElementById('circuit').value;
		xmlhttp.open("GET",url,true);
		xmlhttp.send(null);			    	
    }
    
    function rupdate()
    {
    	if (!standby) return;
		var xmlhttp = getXmlHttp();
		xmlhttp.onreadystatechange=function()
		{
		if (xmlhttp.readyState==4) 
			{
				if (xmlhttp.responseText.substring(0,1) == '[')
				{
					data = eval(xmlhttp.responseText);
					document.getElementById('tcomf').value = data[0];
					document.getElementById('teko').value = data[1];
					document.getElementById('hcurv').value = data[2];
					if (parseInt(document.getElementById('circuit').value) == data[3])
						if (standby)
						{
							standby = false;
							document.getElementById('circuit').disabled = false;
							document.getElementById('standby_box').innerHTML = '';
						}
				}
			}
		}
		var url="/device/own/copar_ajax/?method=get";
		xmlhttp.open("GET",url,true);
		xmlhttp.send(null);			    	    	
    }
    
    function doSet(what)
    {
		var xmlhttp = getXmlHttp();
		xmlhttp.onreadystatechange=function()
		{
		if (xmlhttp.readyState==4) 
				alert(xmlhttp.responseText);
		}
		var url="/device/own/copar_ajax/?method=set&";
		if (what==0) url = url + "what=comf&value="+document.getElementById('tcomf').value;
		if (what==1) url = url + "what=eko&value="+document.getElementById('teko').value;
		if (what==2) url = url + "what=curv&value="+document.getElementById('hcurv').value;
		xmlhttp.open("GET",url,true);
		xmlhttp.send(null);			    	    	    	
    }
    </script>
</%def>
<%def name="body()" >
	<script type="text/javascript">setInterval("rupdate()",5000);</script>
    <table>
    <tr><td colspan="3" id="standby_box" style="color: red;"></td></tr>
    <tr>
    	<td>Obwód</td>
    	<td colspan="2">
    	<select name="circuit" id="circuit" onchange="changeCircuit()">
    		% if int(circ_sel) == 0:
    			<option value="0" selected="selected">CO1</option>
    			<option value="1">CO2</option>
    			<option value="2">CO3</option>
    		% elif int(circ_sel) == 1:
    			<option value="0">CO1</option>
    			<option value="1" selected="selected">CO2</option>
    			<option value="2">CO3</option>
    		% elif int(circ_sel) == 2:
    			<option value="0">CO1</option>
    			<option value="1">CO2</option>
    			<option value="2" selected="selected">CO3</option>
    		% endif
    	</select>
    	</td>
    </tr>
    
    <tr>
    	<td>Temperatura wewnętrzna komfortowa</td>
    	<td><input type="text" id="tcomf" value="${int(tcomf)}"></td>
    	<td><input class="button" type="button" value="Ustaw" onclick="doSet(0)"</td>
    </tr>
    <tr>
    	<td>Temperatura wewnętrzna ekonomiczna</td>
    	<td><input type="text" id="teko" value="${int(teko)}"></td>
    	<td><input class="button" type="button" value="Ustaw" onclick="doSet(1)"</td>
    </tr>
    <tr>
    	<td>Krzywa grzewcza</td>
    	<td><input type="text" id="hcurv" value="${int(hcurv)}"></td>
    	<td><input class="button" type="button" value="Ustaw" onclick="doSet(2)"</td>
    </tr>
    
    </table>
</%def>